html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: inherit;
  height: 100%;
  width: 100%;
}

button:focus {
  outline: 0;
}

button {
  margin-left: 10%;
}

#root {
  height: 100%;
  width: 100%;
}

.active_stage {
  background: #332640;
}

.page_contents {
  min-height: 100%;
  width: 100%;
  background: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaceman {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.stage {
  width: 80%;
  font-family: 'Slabo 27px', serif;
  border-left: 1px solid #3ee7ad;
  border-right: 1px solid #3ee7ad;
  border-top: none;
  margin-left: 10%;
  margin-right: 10%;
}

.deploy_stage {
  margin-top: 2%;
  border-top: 1px solid #3ee7ad;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.withdraw_stage {
  margin-bottom: 2%;
  border-bottom: 1px solid #3ee7ad;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.button_only {
  width: 80%;
  border-left: 1px solid #3ee7ad;
  border-right: 1px solid #3ee7ad;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_input {
  transition: all 0.3s ease;
  background: hsla(0,0%,100%,.2);
  color: #fff;
  width: 200px;
  border-radius: 15px;
  border: none;
  height: 50px;
}

.button_container {
  /* margin-left: 20%; */
  display: flex;
  align-items: center;
}

button:hover {
  cursor: pointer;
  /* border: 1px solid #3ee7ad; */
  background: hsla(0,0%,100%,.3);
  box-shadow: 0 0 10px 2px #3ee7ad;
}

.button_static {
  transition: all 0.3s ease;
  color: #fff;
  background: hsla(0,0%,100%,.2);
  border-radius: 15px;
  width: 200px;
  height: 50px;
  border: none;
}

.input_fields {
  display: inline-grid;
  margin-left: 20%;
  align-items: center;
  justify-items: right;
  min-width: 310px;
  /* align-content: right; */
}

.form_container {
  min-height: 150px;
  display: flex;
  color: #3ee7ad;
}
