.navbar {
  height: 30px;
  padding: 20px; }

.dev-main {
  display: flex;
  width: 100%; }

.dev-content {
  flex-grow: 1;
  padding: 40px; }

.dev-code {
  flex-grow: 1;
  padding: 40px; }

.dev-code {
  display: flex;
  flex-direction: column; }

.dev-code-button {
  display: flex; }

.dev-sub-buttons {
  display: flex;
  justify-content: space-between; }

.dev-button {
  cursor: pointer;
  padding: 20px;
  text-align: center; }

#run-test-button {
  cursor: pointer;
  padding: 20px;
  text-align: center; }

.dev-sidebar {
  height: 100%;
  display: flex; }
  .dev-sidebar h1 {
    margin-bottom: 5px; }

.dev-sidebar-handle {
  width: 8px;
  height: inherit;
  position: relative;
  cursor: pointer;
  background-color: black; }

#sidebar-knob {
  display: block;
  position: absolute;
  top: 50%;
  width: 27px;
  height: 45px;
  background-color: black;
  border-bottom-right-radius: 112.5px;
  border-top-right-radius: 112.5px; }

.hide-sidebar {
  display: none; }

.hidden-sidebar:hover .dev-sidebar-handle {
  width: 10px; }

.hidden-sidebar:hover #sidebar-knob {
  width: 29px; }

.dev-sidebar-content {
  padding: 10px 0; }

.dev-stage-button {
  height: 18px;
  width: 140px;
  padding: 15px 0;
  text-align: center;
  cursor: pointer; }

#root {
  height: 100vh; }
  #root main {
    height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
  body h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0; }

.dev-body {
  display: flex;
  height: 100%; }
  .dev-body * {
    border: 1px solid black; }
