.navbar {
  height: 45px;
  padding: 18px;
  border-bottom: 1px solid #434857; }
  .navbar h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 40px; }

.dev-main {
  display: flex;
  width: 100%; }

.dev-content, .dev-code {
  margin: 40px; }

.dev-code {
  display: flex;
  flex-direction: column; }
  .dev-code .CodeMirror {
    flex-grow: 2.5;
    margin: 0 0 20px 0; }
  .dev-code .code-display {
    flex-grow: 1; }

.dev-content {
  padding: 15px;
  width: 515px;
  overflow-y: scroll; }

.dev-code {
  flex-grow: 1.75; }

.dev-code-button {
  display: flex; }

.dev-sub-buttons {
  display: flex;
  justify-content: space-between; }

#run-test-button, .dev-button {
  cursor: pointer;
  padding: 7px 17px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #1997c6;
  color: #1997c6;
  font-size: 14px; }

#run-test-button:hover, .dev-button:hover {
  color: white;
  background-color: #1997c6;
  font-size: 14px; }

.hidden-editor {
  height: 0;
  overflow: hidden; }

.dev-code-tabs {
  display: flex;
  justify-content: flex-start; }
  .dev-code-tabs div {
    height: 20px;
    width: 60px;
    background-color: #0c1020;
    cursor: pointer;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center; }
  .dev-code-tabs .inactive-tab {
    background-color: #1B223E; }

.dev-sidebar {
  height: 100%;
  display: flex;
  background-color: #2c2d33;
  border-top: 7px solid #141417;
  border-bottom: 7px solid #141417; }
  .dev-sidebar h1 {
    padding: 10px 0;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid #434857; }

.dev-sidebar-handle {
  width: 8px;
  height: inherit;
  position: relative;
  cursor: pointer;
  background-color: #141417; }

#sidebar-knob {
  display: block;
  position: absolute;
  top: 50%;
  width: 27px;
  height: 45px;
  background-color: #141417;
  border-bottom-right-radius: 112.5px;
  border-top-right-radius: 112.5px; }

.hide-sidebar {
  display: none; }

.hidden-sidebar:hover .dev-sidebar-handle {
  width: 10px; }

.hidden-sidebar:hover #sidebar-knob {
  width: 29px; }

.dev-stage-button {
  height: 18px;
  width: 180px;
  padding: 15px 0;
  font-size: 20px;
  text-align: center;
  cursor: pointer; }

.dev-stage-button:hover {
  background-color: #1997c6;
  color: white; }

.dev-stage-active {
  background-color: #0f7dbd;
  color: white; }

.dev-content {
  background-color: #2c2d33; }

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .splash content {
    width: 700px;
    height: 400px; }
  .splash p, .splash h1 {
    color: #9d9d9e; }
  .splash h1 {
    font-size: 42px; }
  .splash p {
    font-size: 20px; }
  .splash span {
    color: white;
    font-family: 'Bungee Shade', cursive;
    font-size: 75px;
    letter-spacing: 5px; }

.get-started {
  margin-top: 20px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

* {
  background-color: transparent;
  border: none;
  color: #cfd2da;
  text-decoration: none; }

html {
  height: 100%;
  background: #252830;
  color: #cfd2da;
  min-height: 800px; }

#root {
  height: 100%; }
  #root main {
    height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }
  body h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0; }

.dev-body {
  display: flex;
  height: 85%; }
