.dev-code {
  display: flex;
  flex-direction: column;
  .code-editor {
    flex-grow: 2.5;
  }
  .code-display {
    flex-grow: 1;
  }
}

.dev-code-button {
  display: flex;
}

.dev-sub-buttons {
  display: flex;
  justify-content: space-between;
}

#run-test-button, .dev-button {
  cursor: pointer;
  padding: 7px 17px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid $light-blue-color;
  color: $light-blue-color;
  font-size: 14px;
}

#run-test-button:hover, .dev-button:hover{
  color: white;
  background-color: $light-blue-color;
  font-size: 14px;
}
