$size-sidebar-knob: 45px;

.dev-sidebar {
  height: 100%;
  display: flex;
  background-color: $accent-background-color;
  border-top: 7px solid #141417;
  border-bottom: 7px solid #141417;

  h1 {
    padding: 10px 0;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid $main-line-color;
  }
}

.dev-sidebar-handle {
  width: 8px;
  height: inherit;
  position: relative;
  cursor: pointer;
  background-color: #141417;
}




#sidebar-knob {
  display: block;
  position: absolute;
  top: 50%;
  width: $size-sidebar-knob - 18px;
  height: $size-sidebar-knob;
  background-color: #141417;
  border-bottom-right-radius: $size-sidebar-knob * 2.5;
  border-top-right-radius: $size-sidebar-knob * 2.5;
}


.hide-sidebar {
  display: none;
}

.hidden-sidebar:hover {
  .dev-sidebar-handle {
    width: 10px;
  }
  #sidebar-knob {
    width: $size-sidebar-knob - 16px;
  }
}


.dev-stage-button {
  height: 18px;
  width: 180px;
  padding: 15px 0;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.dev-stage-button:hover {
  background-color: $light-blue-color;
  color: white;
}

.dev-stage-active {
  background-color: $dark-blue-color;
  color: white;
}
