@import 'main';
@import 'code';
@import 'sidebar';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dev-body {
  display: flex;
  height: 100vh;
  * {
    border: 1px solid black;
  }
}
