$accent-text-color: #51586a;
$lighter-gray-text-color: #9d9d9e;
$main-text-color: #cfd2da;
$main-background-color: #252830;
$light-blue-color: #1997c6;
$main-line-color: #434857;
$accent-background-color: #2c2d33;
$dark-blue-color: #0f7dbd;

@import 'navbar';
@import 'main';
@import 'code';
@import 'sidebar';
@import 'content';
@import 'splash';
@import 'metamask';

* {
  background-color: transparent;
  border: none;
  color: $main-text-color;
  text-decoration: none;
}

html {
  height: 100%;
  background: $main-background-color;
  color: $main-text-color;
  min-height: 800px;
}


#root {
  height: 100%;

  main {
    height: 100%;
  }
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
}

.dev-body {
  display: flex;
  height: 85%;
}
